body {
    margin: 0;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 15vh;
    background: red;
}

div.magikarp {
    height: 20vh;
    width: 12vw;
    background: #ffffff;
}

div.comparison {
    height: 20vh;
    width: 12vw;
    background: white;
}

div.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.verticalCenter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}