body {
    margin: 0;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 15vh;
    background: red;
}

div.magikarp {
    height: 40vh;
    width: 12vw;
    background: green;
    margin-right: 5rem;
    flex-direction: column;
}

div.mag_stat {
    height: 10vh;
    width: 12vw;
    background: green;
    margin-top: 2rem;
}

div.comparison {
    height: 40vh;
    width: 12vw;
    background: white;
    margin-left: 5rem;
    flex-direction: column;
}

div.comparison_stat{
    height: 10vh;
    width: 12vw;
    background: white;
    margin-top: 2rem;
}

div.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.verticalCenter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}