* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/water.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 20vh;
    background: red;
}

div.magikarp {
    height: 40vh;
    width: 12vw;
    margin-right: 5rem;
    flex-direction: column;
}

img {
    width: 12vw;
    height: 12vw;
}

div.mag_info {
    background: white;
}



div.comparison {
    height: 40vh;
    width: 12vw;
    margin-left: 5rem;
    flex-direction: column;
}

div.comparison_info{
    background: white
}

div.comparison_points {
    background: white;
    margin-top: 150vh;
    margin-bottom: 15vh;
}

div.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.verticalCenter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    margin: 0;
    padding: 0;
}